#header {
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
p{
    font-size: 30px;
    font-weight: 900;
}
#syasinn{
    text-align: center;
}
#setumei{
    margin: 2em auto;  
    padding: 1em;
    width: 90%; /*幅の調節*/
    background-color: #f7f7f7; /*背景色*/
    border: 2px solid #ccc; /*線の太さ・色*/
    border-radius: 8px; /*角の丸み*/ 
    font-size: 15px;
}
#ru-ru{
    margin: 1em auto; 
    padding: 1em 2em;
    width: 100%; /*幅の調節*/
    background-color: white; /* 背景色 */
    border: 5px solid #f6bfbc; /*線の太さ・色*/
    border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
    font-size: 20px;
}
#tenn{
    font-size: 12.5px;
}
h1{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
#kekka{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #c0c0c06c;/*背景色*/
}
